# -*- coding: utf-8 -*-
import bot
#The initial config file is written in Python.
#This will default to True if omitted, it determines if servers should run in their own threads.
bot.threads = True
#Load a server
bot.load_server(
    "irc", #Plugin to load.
    "irc", #Server name to choose from the plugin.
    "freenode1", #Server database name, could be shared with other servers on the network
    "shared1", #Shared database name
    {
        'host': 'irc.freenode.net', #IRC Host
        'port': 6667, #IRC Port
        'nick': 'vepybot', #IRC Nick
        'owner': 'irc:*', #This idstring will have all permissions, set to 'irc:mynick!*' for a specific nick.
    })